.hero {
    background-color: $accentBg;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*box-shadow: inset 0 0 0 1000px rgba(47, 48, 58, 0.4);*/
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    &__title {
    color:#fff;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    }
    &__button {
    margin-top:30px;
    background-color: $accentColor;
    font-size:16px;
    line-height: 1.9;
    font-weight:700;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-style:solid;
    border-color: $accentColor;
    border-radius: 0.3em;
    color:#fff;
    cursor: pointer;
    padding: 10px 32px;
    transition: $transDur $transTime;
    }
        &:hover,
        &:focus {
    background-color:#fff;
    border-radius: 0.3em;
    color: $accentColor;
    border-color: #fff;
    transition: $transDur $transTime;
    }
}